/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2014, 17:16:35
    Author     : shapovalova
*/
a.x-btn.x-btn-over span{
    text-decoration:underline;
}
.x-btn.doc_cls,
.x-btn.adm_cls{
    color:#1D4B82;
    background-repeat:no-repeat;
    text-shadow:0 5px 5px rgba(150,150,150,.9);
}
.x-btn.doc_cls,
.x-btn.doc_cls.x-btn-over,
a.x-btn.doc_cls.x-btn-pressed,
a.x-btn.doc_cls.x-btn-focus.x-btn-default-small{
    background-image:url('../images/project_images/doc.png');
    padding-right:0;
    padding-left:105px;
}
.x-btn.adm_cls,
.x-btn.adm_cls.x-btn-over,
a.x-btn.adm_cls.x-btn-pressed,
a.x-btn.adm_cls.x-btn-focus.x-btn-default-small{
    background-image:url('../images/project_images/adm.png');
    padding-right:0;
    padding-left:95px;
    margin-left:25%;
}
a.x-btn.adm_cls.x-btn-focus.x-btn-default-small,
a.x-btn.doc_cls.x-btn-focus.x-btn-default-small{
    background-color:transparent;
}