
.gerb {
	background-image: url('../images/gerb.png') !important;
	background-size: 100% auto;
	width: 129px;
	height: 145px;
}
.search {
	background-image: url('../images/search-trigger.png') !important;
}
