@font-face{
    font-family:'DEAD_SECRETARY_Cyr';
    src:url('../fonts/DEAD_SECRETARY_Cyr/dead_secretary_cyr-webfont.eot');
    src:/*url('../fonts/DEAD_SECRETARY_Cyr/dead_secretary_cyr-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DEAD_SECRETARY_Cyr/dead_secretary_cyr-webfont.woff') format('woff'),*/
        url('../fonts/DEAD_SECRETARY_Cyr/DEAD_SECRETARY_Cyr.ttf') format('truetype'),
        url('../fonts/DEAD_SECRETARY_Cyr/dead_secretary_cyr-webfont.svg') format('svg');
}

@font-face{
    font-family:'Philosopher';
    src:url('../fonts/Philosopher/eot/Philosopher-Regular.eot');
    src:url('../fonts/Philosopher/eot/Philosopher-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher/woff/Philosopher-Regular.woff') format('woff'),
        url('../fonts/Philosopher/ttf/Philosopher-Regular.ttf') format('truetype'),
        url('../fonts/Philosopher/svg/Philosopher-Regular.svg') format('svg');
}
@font-face{
    font-family:'Philosopher Bold';
    src:url('../fonts/Philosopher/eot/Philosopher-Bold.eot');
    src:url('../fonts/Philosopher/eot/Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher/woff/Philosopher-Bold.woff') format('woff'),
        url('../fonts/Philosopher/ttf/Philosopher-Bold.ttf') format('truetype'),
        url('../fonts/Philosopher/svg/Philosopher-Bold.svg') format('svg');
}

@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto/eot/roboto-regular-webfont.eot');
    src:url('../fonts/Roboto/eot/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/woff/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/Roboto/ttf/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto/svg/roboto-regular-webfont.svg') format('svg');
}
@font-face{
    font-family:'Roboto Bold';
    src:url('../fonts/Roboto/eot/roboto-bold-webfont.eot');
    src:url('../fonts/Roboto/eot/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        /*url('../fonts/Roboto/woff/roboto-bold-webfont.woff') format('woff'),*/
        url('../fonts/Roboto/ttf/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto/svg/roboto-bold-webfont.svg') format('svg');
}

@font-face{
    font-family:'Souvenir';
    src:url('../fonts/Souvenir/eot/Souvenir Normal.eot');
    src:url('../fonts/Souvenir/eot/Souvenir Normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Souvenir/woff/Souvenir Normal.woff') format('woff'),
        url('../fonts/Souvenir/ttf/Souvenir Normal.ttf') format('truetype'),
        url('../fonts/Souvenir/svg/Souvenir Normal.svg') format('svg');
}
@font-face{
    font-family:'Souvenir Bold';
    src:url('../fonts/Souvenir/eot/Souvenir Bold.eot');
    src:url('../fonts/Souvenir/eot/Souvenir Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Souvenir/woff/Souvenir Bold.woff') format('woff'),
        url('../fonts/Souvenir/ttf/Souvenir Bold.ttf') format('truetype'),
        url('../fonts/Souvenir/svg/Souvenir Bold.svg') format('svg');
}

@font-face{
    font-family:'Marmelad';
    src:url('../fonts/Marmelad/marmelad-regular-webfont.eot');
    src:url('../fonts/Marmelad/marmelad-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Marmelad/marmelad-regular-webfont.woff') format('woff'),
        url('../fonts/Marmelad/Marmelad-Regular.ttf') format('truetype'),
        url('../fonts/Marmelad/marmelad-regular-webfont.svg') format('svg');
}

@font-face{
    font-family:'Scada';
    src:url('../fonts/Scada/eot/scada-regular-webfont.eot');
    src:url('../fonts/Scada/eot/scada-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Scada/woff/scada-regular-webfont.woff') format('woff'),
        url('../fonts/Scada/ttf/Scada-Regular.ttf') format('truetype'),
        url('../fonts/Scada/svg/scada-regular-webfont.svg') format('svg');
}
@font-face{
    font-family:'Scada Bold';
    src:url('../fonts/Scada/eot/scada-bold-webfont.eot');
    src:/*url('../fonts/Scada/eot/scada-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Scada/woff/scada-bold-webfont.woff') format('woff'),*/
        url('../fonts/Scada/ttf/Scada-Bold.ttf') format('truetype'),
        url('../fonts/Scada/svg/scada-bold-webfont.svg') format('svg');
}