.x-body{
    background:url('../images/project_images/bg_vkks.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center center;
    background-attachment:fixed;
}
.x-viewport > body.x-body{
    padding:10px 30px;
}
h1{
    color:#4E7AAF;
    font-family:'DEAD_SECRETARY_Cyr';
    font-size:34px;
    font-stretch:expanded;
    text-align:center;
}
.gerb{
    background-image:url('../images/project_images/gerb.png');
    background-size:100% auto;
    width:129px;
    height:145px
}
.search{
    background-image:url('../images/project_images/search-trigger.png') !important;
}
